--extra-index-url https://download.pytorch.org/whl/cpu

# --- 기본 서버 ---
fastapi
uvicorn[standard]
pydantic==2.*

# --- 벡터DB / 임베딩 ---
qdrant-client
sentence-transformers

# --- LLM 엔진 ---
ollama
langchain-ollama

# --- Pinterest 크롤러용 ---
requests>=2.32.3
beautifulsoup4>=4.12.3
playwright>=1.48.0

PyJWT>=2.8.0
requests>=2.31.0

# --- Cloudflare R2 ---
boto3>=1.35.0

# --- MongoDB ---
pymongo>=4.6.0
certifi>=2024.2.2

# --- Environment ---
python-dotenv==1.0.1